src/main/mule/clients/clients-put-by-id-books.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="clients-put-by-id-books" doc:id="94ea73c3-fce2-4fbb-a05a-8e684bb42da1" >
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="bdbf4a7d-e5bc-44be-9625-4951eca724c4" >
			<db:update doc:name="update-library-books-by-id-db" doc:id="b9c826c6-2e1e-4753-8dee-5088ce7e4864" config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE movie_catalog.books
SET title = :title,
    author = :author,
    publishedYear = :publishedYear,
    genre = :genre,
    isbn = :isbn,
    pageCount = :pageCount,
    language = :language,
    availableCopies = :availableCopies
WHERE id = :id;
]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
output application/java
---
{
      id: vars.idBook ,
      title: vars.inputBookPayload.title,
      author: vars.inputBookPayload.author ,
      publishedYear: vars.inputBookPayload.publishedYear ,
      genre: vars.inputBookPayload.genre ,
      isbn: vars.inputBookPayload.isbn ,
      pageCount: vars.inputBookPayload.pageCount ,
      language: vars.inputBookPayload.language ,
      availableCopies: vars.inputBookPayload.availableCopies 
    }]]]></db:input-parameters>
		</db:update>
		</until-successful>
	</flow>
</mule>
