src/main/mule/clients/clients-get-by-id-books.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="clients-get-by-id-books" doc:id="000ccaed-79ab-42f4-9e58-0b16dd2a9b6d" >
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="c13b5235-2d7f-4b04-9bc9-ff8d7c999e44" >
			<db:select doc:name="select-library-books-by-id-db" doc:id="2759a594-065b-41d0-9882-6794b7a75080" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM movie_catalog.books WHERE id= :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	"id":vars.id
}]]]></db:input-parameters>
		</db:select>
		</until-successful>
	</flow>
</mule>
