src/main/mule/clients/clients-post-books.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="clients-post-books" doc:id="8c85d714-dad7-40c7-8d15-5b2421fd333a" >
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="dcc40170-9903-4523-aa1d-d5b9cdbb712f" >
			<db:insert doc:name="insert-library-book-db" doc:id="4659aa82-17d8-4b5f-aad2-acca8a470105" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO movie_catalog.books 
(title, author, publishedYear, genre, isbn, pageCount, language, availableCopies)
VALUES 
(:title, :author, :publishedYear, :genre, :isbn, :pageCount, :language, :availableCopies);
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
  "title": vars.inputBookPayload.title,
  "author": vars.inputBookPayload.author,
  "publishedYear": vars.inputBookPayload.publishedYear,
  "genre": vars.inputBookPayload.genre,
  "isbn": vars.inputBookPayload.isbn,
  "pageCount": vars.inputBookPayload.pageCount,
  "language": vars.inputBookPayload.language,
  "availableCopies": vars.inputBookPayload.availableCopies
}]]]></db:input-parameters>
		</db:insert>
		</until-successful>
	</flow>
</mule>
