src/main/mule/library-books-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <apikit:config name="library-books-sapi-config" api="resource::209ef67a-ae27-4f34-965a-a34fed477013:library-books-sapi:1.0.0:raml:zip:library-books-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="90ac9895-20fa-47d5-928d-b0434f3b467c">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="library-books-sapi-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config1">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="library-books-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="library-books-sapi-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config1">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="library-books-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\books\(id):application\json:library-books-sapi-config">
		<flow-ref doc:name="put-book-by-id-implementationFlow" doc:id="2ff69702-98d7-4a1a-b11b-be78fb655e14" name="put-book-by-id-implementationFlow"/>
       
    </flow>
    <flow name="patch:\books\(id):application\json:library-books-sapi-config">
		<flow-ref doc:name="patch-book-by-id-implementationFlow" doc:id="592547f0-ccba-4f94-a68d-b70f46fbef69" name="patch-book-by-id-implementationFlow"/>
        
    </flow>
    <flow name="get:\books:application\json:library-books-sapi-config">
		<flow-ref doc:name="get-all-booksFlow" doc:id="6805b28f-d146-497a-91f0-434dbb65aa35" name="get-all-booksFlow"/>
        
    </flow>
    <flow name="get:\books\(id):library-books-sapi-config" doc:id="8aaa01eb-9b1a-4b45-b4c3-8d5c01a7fc65">
		<flow-ref doc:name="get-book-by-id-implementationFlow" doc:id="ae650151-55fd-4b86-8406-6b0a94702100" name="get-book-by-id-implementationFlow"/>
        
    </flow>
    <flow name="post:\books:application\json:library-books-sapi-config">
		<flow-ref doc:name="post-book-by-id-implementationFlow" doc:id="6bf4af29-e5c4-489a-a744-be81419f4f91" name="post-book-by-id-implementationFlow"/>
        
    </flow>
    <flow name="delete:\books\(id):library-books-sapi-config" doc:id="34bce463-e2d2-4cc7-8d30-1ff6fac376c6">
        <logger level="INFO" doc:name="start" doc:id="97be8e8e-9581-405e-a03a-9597d96b4db2" message="#[payload]" />
		<set-variable value="#[attributes.uriParams.id]" doc:name="idBook" doc:id="47eb803c-d4c0-44c8-8aed-78fb76ad4d45" variableName="idBook" />
		<flow-ref doc:name="global-secured-oauth2-configSub_Flow" doc:id="d3d17825-c2d2-4ca6-917a-2de69d66e362" name="global-secured-oauth2-configSub_Flow"/>
		<!-- [STUDIO:"validate-book-idSub_Flow"]<flow-ref doc:name="validate-book-idSub_Flow" doc:id="06a0817e-d20e-443a-82c1-a2fc9c8c5e43" name="validate-book-idSub_Flow" /> [STUDIO] -->
		<flow-ref doc:name="clients-get-by-id-books" doc:id="32adcfdf-5f2d-4bf9-b6fa-243c1218e85a" name="db-get-by-id-books"/>
		<choice doc:name="validate-book-existence" doc:id="b0157d8d-9582-459d-ba88-9a902fc62e7e" >
			<when expression="#[isEmpty(payload)]" >
				<raise-error doc:name="book-not-found-error" doc:id="8b6579e4-4574-4107-a379-1da0e32ef47a" type="APP:BOOK_NOT_FOUND" description='"Book not found"' />
			</when>
			<otherwise>
				<flow-ref doc:name="clients-delete-by-id-books" doc:id="8130bda9-fc93-4096-81e1-fa8604a6a6c1" name="clients-delete-by-id-books" />
			</otherwise>
		</choice>
		<flow-ref doc:name="orchestrator-delete-by-id-books" doc:id="af59e400-6f55-432a-aaa3-7dd12e10efca" name="orchestrator-delete-by-id-books"/>
		<logger level="INFO" doc:name="end" doc:id="507f84db-02e3-49d8-9c2d-c31928d671d4" message="#[payload]" />
    </flow>
</mule>
